<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exercise7</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<table>
    <tr>
        <th>INDEX</th>
        <th>NAME</th>
        <th>BALANCE</th>
        <th>TYPE</th>
        <th>ISKING?</th>
    </tr>
    <tr th:each="bankAccount : ${bank.baList}" th:class="${bankAccount.isKing()} ? king : notKing">
        <td th:text="${bankAccountStat.count}"></td>
        <td th:text="${bankAccount.name}"></td>
        <td th:text="${bankAccount.balance}"></td>
        <td th:text="${bankAccount.type}"></td>
        <td th:text="${bankAccount.isKing()}"></td>
    </tr>
</table>
</body>
</html>