param0 {
     color: green;
     font-size: 36px;
 }

.param1 {
    color: aqua;
    font-size: 24px;
}

.param2 {
    color: crimson;
    font-size: 8px;
}

.param3 {
    color: darkmagenta;
    font-size: 30px;
}

.param4 {
    color: forestgreen;
    font-size: 18px;
}

.param5 {
    color: midnightblue;
    font-size: 58px;
}