<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ToDoApp</title>
    <!--<link rel="stylesheet" th:href="@{/style.css}"/>-->
</head>
<body>
<h1>TODOS FOR TODAY</h1>
<a href="/todo/add">Add new todo</a>

<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:style="|border : 1px solid|" th:text="${todo.id}"></td>
        <td th:style="|border : 1px solid|" th:text="${todo.title}"></td>
        <td th:style="|border : 1px solid|" th:text="${todo.isDone()}"></td>
        <td th:style="|border : 1px solid|" th:text="${todo.isUrgent()}">   </td>
        <td th:style="|border : 1px solid|"><a th:href="@{'/todo/' + ${todo.id} + '/delete'}">delete</a></td>
        <td th:style="|border : 1px solid|"><a th:href="@{'/todo/' + ${todo.id} + '/edit'}">edit</a></td>
    </tr>
</table>
</body>
</html>