<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Fox's Nutrition Store</title>
</head>
<body>
<ul>
    <li><a href="/">Information</a></li>
    <li><a href="nutritionStore.html">Nutrition Store</a></li>
    <li><a href="trickcenter.html">Trick center</a></li>
</ul>
<form method="post" th:action="@{/addNutrition}">
    <label>New food</label>
    <input type="text" name="new_food" placeholder="New food"/>
    <label>New drink</label>
    <input type="text" name="new_drink" placeholder="New drink"/>
    <button type="submit">Change</button>
</form>
<p></p>
<form method="post" th:action="@{/changeNutrition}">
    <label>Food options</label>
    <select id="foods" name="selected_food">
        <option th:each="food : ${nutrition.getFoodList()}" th:text="${food}"></option>
    </select>
    <label>Drink options</label>
    <select id="drinks" name="selected_drink">
        <option th:each="drinks : ${nutrition.getDrinkList()}" th:text="${drinks}"></option>
    </select>
    <button type="submit">Change</button>
</form>

</body>
</html>
