body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  text-decoration: underline;
}

.bio {
  overflow: hidden;
  background-color: #2edd17;
}

img {
  border-radius: 50px;
  float: left;
  padding-left: 150px;
}

.personal-info {
  color: #fff;
  overflow: hidden;
  margin: 0;
  padding-top: 90px;
  text-align: center;
  font-size: 20px;
}

span.mobile,
span.email,
span.linkedin {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  background-color: #2edd17;
  display: inline-block;
  height: 35px;
  text-align: center;
  width: 33%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #c1a;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}
