h1,
h2 {
  font-weight: bold;
}

h2 {
  color: orange;
}

h1,
.food {
  color: blue;
}

.apple {
  color: red;
}

.otherfruit {
  color: #000;
}

.food {
  list-style-type: square;
}

.fruits {
  list-style-type: disc;
}

.vegetables {
  list-style-type: disc;
  color: #000;
}
