body {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  color: #232325;
}

main {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

header {
  background-image: url("anakin.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 15% 10% 0 20%;
  margin-bottom: 55px;
  font-size: 40px;
}

header .intro {
  font-size: 1em;
}

h1,
.intro {
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: 'Abril Fatface', cursive;
}

section {
  margin: 50px 0 50px 50px;
}

.first-paragraph {
  font-size:20px;
  line-height: 30px;
}

.qualities {
  font-weight: bold;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}

h4 {
  margin: 0;
  font-weight: bolder;
  font-style: italic;
}

li {
  list-style-type: square;
  line-height: 25px;
}

blockquote {
  display: block;
  width: 100%;
  background-color: #232325;
  margin: 0;
  padding: 35px 0 20px 60px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Abril Fatface', sans-serif;
  text-align: left;
  position: relative;
}

blockquote::before{
  content: "\201C";
  font-size: 130px;
  position: absolute;
  left: -5px;
  top: -40px;

p,
.experience,
.training {
  font-size: 16px;
}

hr {
  border-color: #000;
  border-width: thick;
}
