body {
  font-size: 36px;
  color: #fff;
  text-transform: capitalize;
  border: 18px solid rgb(66, 133, 244);
  width:350px;
}

section {
  height: 130px;
  text-align: center;
  vertical-align: middle;
  line-height: 130px;
}

.north {
  background-color: rgb(230, 118, 118);
}

.east {
  background-color: rgb(242, 240, 98);
}

.south {
  background-color: rgb(169, 230, 230);
}

.west {
  background-color: rgb(118, 146, 288);
}
